<mat-card class="example-card">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
    <strong>{{item.itemName}}</strong>
    </p>

  </mat-card-content>
  <div *ngIf ="showAdd" class = "price-and-button" >
  <mat-card-content >
     <strong>{{item.price}}</strong>
  </mat-card-content>
  <button class="button" mat-stroked-button (click)="addFunction(item)" color ="green"><strong>ADD</strong></button>
  </div>
  <div *ngIf="showPlusMinus" class = "price-and-buttton">
  <mat-card-content  >
     <strong>{{item.price}}</strong>
  </mat-card-content>
  <!-- <button class="button" mat-stroked-button color="green"><strong>ADD</strong></button> -->
   <div class="quantity buttons_added">
  <input type="button" value="-" class="minus" (click)="minus(item.itemId)">
  <input type="number" step="1" min="0" max="" name="quantity" value={{value}} title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
  <input type="button" value="+" class="plus" (click)= "plus(item.itemId)">
</div>
  </div>
</mat-card>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->